html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #000;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 50px;
}

.section-offset {
    padding-block-start: 100px;
}

.section-offset_large {
    padding-block-start: 120px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    color: inherit;
    text-decoration: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.uppercase {
    text-transform: uppercase;
}

.as-button {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    padding: 10px 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 14px 0px #00000014;
}

.as-button_violet {
    background-color: #965cff;
}

.as-button_color-black {
    color: #000;
}

.logo {
    width: 121px;
}

.main-title {
    font-size: 46px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.46px;
}

.second-title {
    font-size: 46px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.46px;
}

.third-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
}

.crypto-frame {
    position: relative;
}

.crypto-frame::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 1200px;
    height: 1001px;

    background-image: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 24px;
    padding-block-start: 24px;
}

.nav {
    color: #fff;
}

.nav-list {
    gap: 35px;
    align-items: center;
}

.nav-list__link {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.17px;
}

.hero__container {
    position: relative;
    flex-direction: column;
    gap: 60px;

    overflow-x: hidden;
}

.hero__main {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    max-width: 522px;
    margin-inline: auto;
    text-align: center;

    color: #fff;
}

.hero__visual {
    max-width: 1051px;
    margin-inline: auto;
    position: relative;
}

.hero__img {
    width: 100%;

    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}

.hero__card {
    position: absolute;
    padding: 20px;
    border-radius: 16px;

    color: #262C3B;
    background-color: #fff;
}

.hero__card-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.12px;
}

.hero__card-sum {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.4px;
}

.savings-card {
    top: -10px;
    right: -70px;

    width: 250px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 22.58px 49.14px #0e11198a;
}

.savings-card::before {
    content: '';
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);

    width: 430px;
    height: 100px;

    background-image: url('../images/savings-card-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.savings-card__lines {
    gap: 8px;
}

.savings-card__line {
    height: 10px;
    border-radius: 4px;
    background-color: rgba(38, 44, 59, 0.11);
}

.savings-card__line:first-of-type {
    width: 11px;
}

.savings-card__line:last-of-type {
    width: 60px;
}

.bills-card {
    bottom: 60px;
    left: -11%;

    width: 280px;
    justify-content: space-between;
}

.bills-card__wrapper {
    flex-direction: column;
    gap: 16px;
}

.bills-card__title {
    padding-block-start: 10px;
}

.bills-card-list {
    position: relative;
    left: 10%;
    height: min-content;
}

.bills-card-list__item {
    position: relative;
}

.bills-card-list__item:nth-child(2) {
    left: -15%;
}

.bills-card-list__item:last-child {
    left: -30%;
}

.teasers__container {
    padding-block: 40px;
    background-color: #000;
}

.teasers-list {
    align-items: center;
    justify-content: center;
    gap: 70px;
}